@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;800&display=swap');

/* Configurações Gerais */
:root{
  --cor-fundo: #fefdff;
  --cor-primaria: #8eb1c7;
  --cor-secundaria: #50723c;
  --cor-texto: #414066;
  --cor-destaque: #e6af2e;
}

*{
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

/* Menu */

.navbar-brand {
  font-weight: 600;
  letter-spacing: .2rem;
  text-transform: uppercase;
}

.navbar-collapse {
  justify-content: flex-end;
}

/* Página + informações */

.section-conteudo-divisao {
    flex-direction: column;
    padding: 2.5rem 2rem;
    background-color: #fff;
}

.texto {
    line-height: 1.5;
    text-align: justify;
    text-indent: 1.5rem;
}

.informacoes {
  display: flex;
}

.imagem img{
  height: auto;
  width: 100%;
}

.mapa h3 {
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
}

/* Rodapé */

.logos img {
  height: 90px;
  padding: 1rem;
  width: auto;
}

.col-sm-4 ul {
  margin-left: 20px;
  margin-top: 20px;
  list-style: none;
}

.listas-sociais {
  margin-top: 20px;
}

.col-sm-4 {
  justify-content: center;
}

.col-sm-4 h3 {
  margin-left: 19px;
}

.parceiros {
  display: flex;
}

.sociais {
  padding-left: 70px;
}

.listas-sociais a,
.parceiros a {
  color: black;
  text-decoration: none;
}

footer {
  padding-top: 20px;
  background-color: var(--cor-primaria);
}