@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;800&display=swap');

/* Configurações Gerais */
:root{
  --cor-fundo: #fefdff;
  --cor-primaria: #8eb1c7;
  --cor-secundaria: #50723c;
  --cor-texto: #414066;
  --cor-destaque: #e6af2e;
}

*{
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

/* Menu */

.navbar-brand {
  font-weight: 600;
  letter-spacing: .2rem;
  text-transform: uppercase;
}

.navbar-collapse {
  justify-content: flex-end;
}

/*Carrosel Slide*/

#carouselExampleCaptions .carousel-inner{
  height: 100vh;
  position: relative;
  width: 100%;
}

#carouselExampleCaptions .carousel-inner:before{
  background: rgba(0, 0, 0, .25);
  content: '';
  height: 100vh;
  position: absolute;
 
  /**/
  top: 0;
  left: 0;  
  width: 100%;
  z-index: 1;
}

#carouselExampleCaptions .carousel-inner .carousel-item {
  background: url('../img/willian-justen-de-vasconcellos-2rB5CLgSN0c-unsplash.jpg');
  background-size: cover;
  background-position: center;
  /* ----- */
  height: 100vh;
  position: relative;
  width: 100%;
}

#carouselExampleCaptions .carousel-inner .carousel-item:nth-child(2) {
  background: url('../img/carlos-de-almeida-f0_PcmpxnW4-unsplash.jpg');
  background-size: cover;
  background-position: center;
}

#carouselExampleCaptions .carousel-inner .carousel-item:nth-child(3){
  background: url('../img/mauro-lima-r3bRZWtV-oM-unsplash.jpg');
  background-size: cover;
  background-position: center;
}

/* Cards */

#eventos,
#trilhas,
#gastronomia,
#pontos-turisticos { 
  padding: 1rem 0;
}

.title {
  margin: 2rem 0 2rem 0;
  text-align: center;
}

.row {
  justify-content: center;
}

.card {
  margin: .75rem 1rem .75rem 1rem;
}

.card img {
  height: 180px;
}

.card-title {
  color: var(--cor-texto);
  font-weight: 600;
}

.botao {
  margin: 0rem 0 1rem 1rem;
}

/* Rodapé */

.logos img {
  height: 6.875rem;
  padding: 1rem;
  width: auto;
}

.logos {
  /* position: absolute; */
  right: 1.875rem;
}

.logos li {
  display: inline;
}

/* .col-sm-6 ul {
  margin-left: 1.25rem;
  margin-top: 1.25rem;
  list-style: none;
} */

.empresas ul {
  margin-right: 1.25rem;
  margin-top: 1.25rem;
  list-style: none;
  display: inline;
}

.listas-sociais {
  margin-top: 1.25rem;
}

.sociais ul {
  /* margin-left: 1.25rem; */
  margin-top: 1.25rem;
  list-style: none;
}

/* .sociais h3 {
  margin-left: 1.188rem;
} */

/* .empresas {
  margin-left: 0.938rem;
} */

/* .sociais {
  padding-left: 70px;
} */

.listas-sociais a,
.parceiros a {
  color: black;
  text-decoration: none;
}

footer {
  padding-top: 20px;
  background-color: var(--cor-primaria);
}