.navbar-brand,
.nav-link {
    margin-right: 120px;
}

#carouselExampleCaptions {
    height: 100%;
    position: relative;
    width: 100%;
}

#carouselExampleCaptions .carousel-inner {
    height: 100%;
    position: relative;
    width: 100%;
}

#carouselExampleCaptions .carousel-inner::before {
    background: rgba(0, 0, 0, 0.45);
    content: '';
}

#carouselExampleCaptions .carousel-inner .carousel-item {
    background: url('../img/fotomuseu1.jpg');
    background-size: cover;
    background-position: center;
    height: 100%;
    position: relative;
    width: 100%;*/
}

#carouselExampleCaptions .carousel-inner .carousel-item:nth-child(2) {
    background: url('../img/bohemia.jpg');
    background-size: cover;
    background-position: center;
}

#carouselExampleCaptions .carousel-inner .carousel-item:nth-child(3) {
    background: url('../img/parquenacionalserradosorgaos.jpg');
    background-size: cover;
    background-position: center;
} 